.ai__agent {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agent__form .ant-card-body, .agent__result .ant-card-body{
    height: calc(100% - 30px);
    padding: 10px;
    overflow-y: auto;
    max-height: calc( 100vh - 250px);
}

.thinking .ant-collapse-content {
  height: calc(60% - 30px);
  padding: 10px;
  overflow-y: auto;
  max-height: calc( 80vh - 250px);
}
.agent__result .ant-card-body pre {
    border: 1px solid #dce3e7;
    background-color: #cad4d854;
    box-shadow: 1px 1px 6px 10px rgb(232 238 242 / 25%);
    border-radius: 10px;
}

.agent__result .ant-card-body pre .agent__codeblock .ant-card-head{
    border-bottom: 1px solid #ff980057;
}
.agent__codeblock-nolang {
    padding: 20px;
}
.copied{
    background-color: aliceblue;
}
.agent__result table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;    
  }
  
  .agent__result th, .agent__result td {
    border: 1px solid #ddd;
      /* Light gray border */
    padding: 8px;
    text-align: left;
  }
  
  .agent__result th {
    background-color: #f4f4f4;
    font-weight: bold;
  }